.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
table{
  text-align: center;
}
.editbtn{
  margin: 2px;
}
tr{
  margin-top: 2px;
}