<div class="row">
    <div class="col-12">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">FullName</th>
                    <th scope="col">Email</th>
                    <th scope="col">UserName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>