<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Interview Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isUserLoggedIn" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="!isUserLoggedIn" routerLink='/register'>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="isUserLoggedIn" routerLink='/user-management'>User Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='/login' *ngIf="isUserLoggedIn" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <div class="sidenav" style="padding: 0; max-width: 80px; min-height: 50vh;" *ngIf="isUserLoggedIn">
    <app-sidenav *ngIf="isUserLoggedIn"></app-sidenav>
  </div>
  <div class="col-10" style="padding: 0;">
    <router-outlet></router-outlet>
  </div>
</div>
