<div class="content-wrapper" style="min-height: 250px;">
    <div class="col-sm p-3 min-vh-100">
        <section class="content-header">
            <h1>Dashboard</h1>
          </section>
          <section class="content">
            <div class="row">
              <div class="col-md-6">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Last 10 Applications</h3>
                  </div>
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Status</th>
                            <th width="100" class="text-center">Began At</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#">Vijay Jayakumar</a></td>
                            <td><a href="#">Lead</a></td>
                            <td><span class="label bg-orange">Ongoing</span></td>
                            <td class="text-center">2021-09-15</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="box-footer clearfix">
                    <a
                      class="btn btn-sm btn-secondary btn-flat pull-right"
                      href="#"
                      >View All Applications</a
                    >
                  </div>
                  <!-- /.box-footer -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Last 10 Interviews</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="table-responsive">
                      <table class="table no-margin">
                        <thead>
                          <tr>
                            <th width="130">At</th>
                            <th>Application</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer clearfix">
                    <a
                      class="btn btn-sm btn-secondary btn-flat pull-right"
                      href="#"
                      >View All Interviews</a
                    >
                  </div>
                  <!-- /.box-footer -->
                </div>
              </div>
            </div>
          </section>
    </div>
</div>
