<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li>
                        <a class="nav-link py-3 px-2" routerLink="/idashboard">
                            <i class="bi-speedometer2" title="Dashboard" style='font-size:20px; color: black;'></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 px-2" routerLink="/application">
                            <i class="bi-stickies-fill" title="Appliactions" style='font-size:20px; color: black;'></i>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link py-3 px-2" routerLink="/iform">
                            <i class="bi-ui-radios" title="Interviews" style='font-size:20px; color: black;'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2">
                            <i class="bi-people-fill" title="Account Info" style='font-size:20px; color: black;'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="col-sm p-3 min-vh-100">
            <app-interviewer-dashboard></app-interviewer-dashboard>
        </div> -->
    </div>
</div>

